*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--dark_blue: #171821;
	--light_blue: #1d1e27;
	--lighter_blue: #252735;
	--light: #f4f8fb;
	--blue: #4c6efb;
	--dark: #444761;
	--red: #ff7877;
	--white: #ffffff;
	--gray: #7d7d7d;
}

body {
	background-color: var(--dark_blue);
	color: var(--light);
	font-family: "Poppins", sans-serif;
}

button {
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--light) !important;
	padding: 0;
	cursor: pointer;

	&:focus {
		outline: 3px solid #f4f8fb !important;
	}
}

.dashed-blue {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%233772FFFF' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
	border-radius: 10px;
}

.form_div {
	label {
		font-style: normal;
		font-weight: 400;
		font-size: 14.6858px;
		line-height: 15px;
		margin-bottom: 14px;
	}

	input,
	textarea {
		width: 100%;
		display: block;
		padding: 22px;
		background-color: transparent;
		border: none;
		outline: none;
		background: #171821;
		border: 1.04899px solid rgba(235, 235, 235, 0.07);
		box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
		border-radius: 5.24494px;

		font-style: normal;
		font-weight: 400;
		font-size: 14.6858px;
		line-height: 15px;
		color: var(--light);
	}
}

._dropdown-menu {
	display: none;
	position: absolute;
	right: -16px;
	background-color: var(--lighter_blue);
	// box-shadow: 0px 9px 100px -8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-top: 6px;

	svg.dropdown-arrow {
		position: absolute;
		top: -6px;
		right: 15px;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none !important;

		li {
			padding: 5px 14px;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(68, 71, 97, 0.43);
			}

			a {
				color: var(--dark) !important;
				text-decoration: none;
				display: flex;
				align-items: center;
				gap: 12px;
				padding: 0;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 29px;

				&:hover,
				&:focus {
					color: var(--light) !important;
					background-color: transparent;
				}
			}
		}
	}

	&.show {
		display: block;
	}
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	.logo_center {
		padding-top: 46px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 175.98px;
		margin: 0 auto;

		img {
			width: 100%;
		}
	}
	.center {
		padding: 23px 34px !important;
		background: var(--light_blue);
		box-shadow: 0px 5px 50px -30px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 20px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 70%;

		.logo {
			width: 150.05px;

			img {
				width: 100%;
			}
		}

		& > ._right {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 22px;

			.workspaces {
				background-color: var(--lighter_blue);
				padding: 8px 14px;
				box-shadow: 0px 13px 50px -9px rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				display: flex;
				align-items: center;
				gap: 18px;

				span {
					font-style: normal;
					font-weight: 400;
					font-size: 15px;
					line-height: 29px;
				}
			}

			.notification {
				background-color: var(--lighter_blue);
				padding: 6px;
				box-shadow: 0px 13px 50px -9px rgba(0, 0, 0, 0.2);
				border-radius: 99999999999999px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.profile_dropdown {
				display: flex;
				align-items: center;
				border-radius: 10px;

				& > div {
					width: 36.49px;
					height: 36.49px;
					border-radius: 99999999999999px;
					overflow: hidden;
					margin-right: 22px;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	.left,
	.right {
		width: 15%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.left {
		button.go_back {
			border-radius: 10px;
			display: none;
			align-items: center;
			color: var(--dark) !important;

			svg {
				margin-right: 9px;
			}

			span {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 15px;
			}
		}
	}

	.right {
		button.how_to {
			background-color: var(--red);
			padding: 9px 20px;
			box-shadow: 0px 11.587px 44.5652px -8.02174px rgba(0, 0, 0, 0.2);
			border-radius: 8.91304px;
			display: flex;
			align-items: center;

			svg {
				margin-right: 5px;
			}

			span {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 26px;
			}
		}
	}
}

section.workspaces_section {
	width: 100%;
	margin-top: 52px;
	display: flex;
	justify-content: space-between;

	.create_workspace_button_container {
		width: 15%;
		display: flex;
		justify-content: center;

		a {
			button.create_workspace_button {
				svg {
					margin-bottom: 20px;
				}
				div {
					padding: 5px 14px;
					background-color: #252735;
					box-shadow: 0px 12.5273px 48.1818px -8.67273px rgba(0, 0, 0, 0.2);
					border-radius: 10px;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 28px;
				}
			}
		}
	}

	.main {
		width: 70%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 16px;

		.workspace {
			width: 100%;
			max-width: 294px;
			padding: 22px 30px;
			background-color: var(--light_blue);
			border: 1px solid #2e344e;
			border-radius: 10px;

			h2 {
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				line-height: 29px;
				margin-top: 16px;
			}

			p {
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 29px;
				margin: 0;
				color: var(--dark);
			}
		}

		.create_new {
			text-decoration: none;
			padding: 35px 50px;
			height: 100%;
			background-color: var(--light_blue);
			border-radius: 10px;
			font-style: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 20px;
			text-align: center;
			color: var(--dark) !important;

			svg {
				margin-bottom: 16px;
			}
		}
	}

	.right {
		width: 15%;
	}
}

section.create_workspace {
	width: 70%;
	margin: 0 auto;
	margin-top: 80px;
	background: var(--light_blue);
	border-radius: 20px;
	padding: 61px 0;

	h1 {
		text-align: center;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 137.5%;
		color: var(--white);
		margin-bottom: 50px;
	}

	form {
		width: 100%;
		max-width: 657px;
		margin: 0 auto;

		button.add_team {
			font-style: normal;
			font-weight: 400;
			font-size: 14.6858px;
			line-height: 15px;
			color: var(--blue) !important;
			margin-top: 44px;
			margin-bottom: 26px;

			span {
				margin-left: 5px;
			}
		}

		.submit_buttons {
			margin-top: 62px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 62px;

			& > a.back {
				display: flex;
				border-radius: 5.04269px;
				align-items: center;
				color: var(--dark);
				text-decoration: none;

				svg {
					margin-right: 13px;
				}
			}

			& > button.create {
				display: flex;
				align-items: center;
				background-color: var(--blue);
				padding: 19px 42px;
				border-radius: 5.04269px;
				font-style: normal;
				font-weight: 400;
				font-size: 14.8345px;
				line-height: 7px;
				color: var(--white) !important;
			}
		}
	}
}

section._main {
	width: 70%;
	margin: 35px auto;
	padding: 40px;
	background: var(--light_blue);
	border-radius: 20px;
	padding: 61px 0;

	h1 {
		text-align: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15.7407px;
		line-height: 15px;
		margin-bottom: 16px;
	}

	form {
		width: 87%;
		margin: 0 auto;

		.project_title {
			max-width: 557.22px;
			margin: 0 auto;
		}

		.media_type_tab {
			margin: 0 auto;
			margin-top: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #171821;
			border: 0.5px solid rgba(210, 210, 210, 0.17);
			border-radius: 5.33032px;
			width: max-content;

			button {
				padding: 14px 25px;
				border-radius: 5.33032px;
				font-style: normal;
				font-weight: 400;
				font-size: 15.6806px;
				line-height: 7px;
				display: flex;
				align-items: center;

				svg {
					margin-right: 10px;
				}
			}

			#audio {
				fill: var(--gray);
				transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
				&.active {
					background-color: var(--blue);

					svg {
						fill: var(--white);
					}
				}
			}

			#video {
				stroke: var(--gray);
				transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
				&.active {
					background-color: var(--blue);

					svg {
						stroke: var(--white);
					}
				}
			}
		}

		.templates {
			margin-top: 52px;
			display: none;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 20px;

			&.show {
				display: flex;
				transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
			}

			.template {
				cursor: pointer;
				width: 18%;
				height: 180px;
				background: #171821;
				border-radius: 6.59915px;
				padding: 22px;

				.icon_bg {
					margin: 0 auto;
					width: 87.98px;
					height: 87.98px;
					border-radius: 9999999999px;
					background-color: var(--lighter_blue);
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 24px;

					svg.filled {
						fill: #6c6f92;
					}

					svg.stroked {
						stroke: #6c6f92;
					}
				}

				p {
					margin: 0;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 15px;
					text-align: center;
				}

				&.active {
					border: 1.06002px solid var(--blue);

					.icon_bg {
						background-color: var(--blue);

						svg.filled {
							fill: var(--light);
						}
						svg.stroked {
							stroke: var(--light);
						}
					}
				}
			}
		}

		.submit {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 50px;

			button {
				background-color: var(--blue);
				margin: 0 auto;
				padding: 22px 44px;
				border-radius: 5.33032px;
				font-style: normal;
				font-weight: 400;
				font-size: 15.6806px;
				line-height: 7px;
			}
		}
	}
}

section.nav_main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 46px;

	nav {
		width: 15%;

		ul {
			list-style: none;
			padding-left: 26px;
			li {
				a {
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: space-between;
					gap: 10px;
					text-decoration: none;
					width: 114.62px;
					height: 110.64px;
					background-color: var(--light_blue);
					border-radius: 10px;
					padding: 22px 33px;
					color: var(--dark);
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 15px;

					svg {
						stroke: var(--dark);
					}

					&.active {
						background-color: var(--blue);
						color: var(--light);

						svg {
							stroke: var(--light);
						}
					}
				}

				&:not(:last-child) {
					margin-bottom: 28px;
				}
			}
		}
	}

	main {
		width: 70%;

		&.main_long {
			width: 85%;
			margin-right: 64px;
		}

		.action {
			cursor: pointer;
			border-radius: 9.81083px;
			width: 100%;
			padding: 16px 24px;
			background: var(--light_blue);
			border: 1px solid rgba(227, 227, 227, 0.12);
			border-radius: 9.81083px;
			height: 100%;

			svg {
				margin-bottom: 10px;
			}

			span {
				display: block;
				text-align: left;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 28px;
			}
		}
	}

	aside {
		width: 15%;
	}
}

section.extract_modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(19, 19, 26, 0.81);
	display: none;

	&.show {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.extract_modal_body {
		background: var(--light_blue);
		border-radius: 10px;
		width: 496px;
		height: 534px;
		padding: 36px;
		position: relative;

		.close_extract_modal {
			position: absolute;
			border-radius: 999999999px;
			top: 16px;
			right: 16px;
		}

		h2 {
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 137.5%;
			text-align: center;
			color: var(--blue);
		}

		form {
			margin-top: 28px;

			.submit_button {
				margin-top: 40px;
				display: flex;
				justify-content: center;
				align-items: center;

				button {
					background-color: var(--blue);
					margin: 0 auto;
					padding: 22px 44px;
					border-radius: 5.33032px;
					font-style: normal;
					font-weight: 400;
					font-size: 16.0022px;
					line-height: 8px;
					color: var(--white);
				}
			}
		}
	}
}

section.export_container {
	width: 100%;
	background: var(--light_blue);
	border-radius: 10px;
	padding: 32px 40px;

	h1 {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
	}

	.export_options {
		display: flex;
		align-items: center;
		margin-top: 32px;
		gap: 15px;

		.option {
			display: flex;
			align-items: center;
			gap: 16px;
			cursor: pointer;
			border: 0.9px solid rgba(227, 227, 227, 0.12);
			border-radius: 8.17569px;
			padding: 16px;
		}
	}

	.share_container {
		margin-top: 32px;

		.share {
			width: 183.52px;
			height: 85px;
			padding: 16px;
			background-color: var(--light_blue);
			border: 0.8px solid var(--blue);
			border-radius: 8px 8px 0px 0px;
			display: flex;
			align-items: center;
			gap: 16px;

			& > div {
				display: flex;
				align-items: center;
				gap: 30px;
			}
		}

		.share_options {
			background: var(--dark_blue);
			border-radius: 0px 0px 8px 8px;
			padding: 22px 25px;
			display: flex;
			align-items: center;
			gap: 10px;

			.share_option {
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				background: var(--light_blue);
				border: 0.5px solid rgba(227, 227, 227, 0.12);
				border-radius: 4px;
				padding: 9px 12px;

				img {
					width: 26.53px;
					height: 26.53px;
				}
			}
		}
	}
}

section.audio_blog {
	.link {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #40425a;
		box-shadow: 0px 13px 50px -9px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 8px 20px;
		color: var(--dark);

		button {
			border-radius: 4px;
		}
	}

	.blog_post {
		background: var(--light_blue);
		border-radius: 10px;
		padding: 44px;
		margin-top: -2px;

		.author {
			display: flex;
			align-items: center;
			gap: 26px;

			.profile_image {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
				}
			}

			.right {
				.name {
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 13px;
					color: var(--white);
					margin-bottom: 19px;
				}

				.time_listen {
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 13px;
					display: flex;
					align-items: center;

					.time {
						color: var(--dark);
					}

					.listen {
						color: var(--blue);
						margin-left: 7px;
						display: flex;
						align-items: center;
						gap: 5px;
					}
				}
			}
		}

		h1.title {
			font-style: normal;
			font-weight: 600;
			font-size: 32px;
			line-height: 48px;
			color: var(--white);
			margin-top: 38px;
			margin-bottom: 20px;
		}

		p.paragraph {
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 35px;
			color: var(--dark);
		}

		.blog_image {
			width: 100%;
			margin-top: 30px;
			border-radius: 28px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.player_popup {
	position: fixed;
	right: 280px;
	bottom: 20px;
	width: 378px;
	background: #21222c;
	border: 0.5px solid rgba(255, 255, 255, 0.05);
	box-shadow: 0px 29.1043px 81.492px -6.29603px rgba(23, 24, 32, 0.5);
	border-radius: 8px;
	padding: 12px 22px;

	.expand {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.timer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 18px;
		margin-bottom: 18px;

		.time {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 13px;
		}

		.line {
			width: 75%;
			height: 2px;
			background: var(--dark);
			border-radius: 1px;
		}
	}

	.controls {
		display: flex;
		align-items: center;
		justify-content: center;

		.photo {
			width: 31.7px;
			height: 31.7px;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			margin-right: 14px;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 101%;
				height: 101%;
				border: 0.5px solid var(--dark);
				border-radius: 50%;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		.buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 16px;
		}

		.audio {
			margin-left: 22px;
			margin-right: 26px;
		}

		.speed {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 13px;
			color: #f76c8d;
		}
	}
}

section.convert_container {
	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.title {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: var(--dark);

			svg {
				margin-right: 16px;
			}
		}

		.group {
			display: flex;
			align-items: center;
			gap: 22px;

			button.a_i_paraphrase {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				background: rgba(76, 110, 251, 0.12);
				border: 0.5px solid rgba(227, 227, 227, 0.12);
				border-radius: 10px;
				padding: 10px 14px;
				display: flex;
				align-items: center;
				gap: 8px;

				img {
					width: 25.61px;
					height: 25.61px;
				}
			}

			.action_dropdown {
				border: none;
				outline: none;
				box-shadow: 0px 13px 50px -9px rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				color: #3abc29;
				padding: 8px 18px;
				width: 123px;
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 29px;
				appearance: none;
				background: url("/assets/images/green-caret.png") no-repeat right 0.8em
						center / 1em,
					#3abc292b;
				cursor: pointer;
			}
		}

		button.export {
			padding: 13px 14px;
			display: flex;
			align-items: center;
			gap: 12px;
			border: 1px solid var(--blue);
			box-shadow: 0px 13px 50px -9px rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 29px;
			color: var(--blue) !important;
		}
	}

	.center {
		margin-top: 20px;

		.left {
			background: var(--light_blue);
			border-radius: 10px;
			padding: 50px 65px;
			position: relative;

			.blue_arrow {
				position: absolute;
				top: 28px;
				right: -18px;
			}

			.line {
				position: absolute;
				top: 90px;
				right: 6px;
			}

			.photo_input {
				background: #21222c;
				border: 0.5px solid rgba(255, 255, 255, 0.05);
				box-shadow: 0px 29.1043px 81.492px -6.29603px rgba(23, 24, 32, 0.5);
				border-radius: 8px;
				padding: 16px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 30px;

				input {
					width: 80%;
					font-style: normal;
					font-weight: 400;
					font-size: 14.1661px;
					line-height: 13px;
					color: var(--white);
					background-color: transparent;
					border: none;
					outline: none;
				}

				img {
					width: 41.51px;
					height: 41.51px;
				}

				.play {
					margin-right: 30px;
				}
			}

			.controls {
				background: #21222c;
				border: 0.5px solid rgba(255, 255, 255, 0.05);
				box-shadow: 0px 29.1043px 81.492px -6.29603px rgba(23, 24, 32, 0.5);
				border-radius: 8px;
				padding: 14px;

				.top {
					display: flex;
					align-items: center;

					& > .photo_dropdown {
						border: 1px solid rgba(68, 71, 97, 0.4);
						border-radius: 41.5775px;
						padding: 2.5px;
						padding-right: 20px;
						display: flex;
						align-items: center;
						font-style: normal;
						font-weight: 400;
						font-size: 14.1661px;
						line-height: 13px;
						margin-right: 10px;

						img {
							width: 42.27px;
							height: 42.27px;
							margin-right: 12px;
						}

						svg {
							margin-left: 20px;
						}
					}

					& > .center {
						display: flex;
						align-items: center;
						gap: 8px;
						margin-top: 0;

						.outline {
							padding: 14px 16px;
							border: 1px solid rgba(68, 71, 97, 0.4);
							border-radius: 35.7643px;
							font-style: normal;
							font-weight: 400;
							font-size: 12.1854px;
							line-height: 11px;
							color: var(--white);
						}
					}

					& > .time {
						font-style: normal;
						font-weight: 400;
						font-size: 14.1661px;
						line-height: 13px;
						color: var(--dark);
						margin-left: 30px;
					}
				}
			}
		}

		.right {
			background: var(--light_blue);
			border-radius: 10px;
			padding: 25px;
		}
	}
}
